@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    /*Цвета*/
    --primary:#BC9CFF;
    --dark:#1F2041;
    --dark75:rgba(31, 32, 65, 0.75);
    --dark50:rgba(31, 32, 65, 0.5);
    --dark25:rgba(31, 32, 65, 0.25);
    --dark5:rgba(31, 32, 65, 0.05);
    --primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    /*Отсутпы*/
    --form-indent: 16px;

}
/*Обнуление*/
* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
h1,
h2,
h3,
h4{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/*Шапка*/

.container{
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    background: #FFFFFF;
}
.header{
    padding: 18px 140px;
    width: 1440px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header__container{
    display:flex;
    align-items: center;
}
.header-logo{
    width:105.69px;
    height: 40px;
    display: inline-block;
    margin-right: 285px;
}
.form-style {
    height: 44px;
    background: #FFFFFF;
    border: 1px solid var(--dark25);
    box-sizing: border-box;
    border-radius: 4px;
}
.text-internal-offset {
    padding-left: var(--form-indent);
}
.pink-gradient-btn{
    width: auto;
    height: 34px;
    left: 1104px;
    top: 18px;
    display: inline-block;
    text-align: center;
    border-radius: 22px;
    background: var(--primary-gradient);
}

.pink-border-gradient-btn {
    width: auto;
    display: inline-block;
    text-align: center;
    background: url("../img/backgroung-login.svg") no-repeat;
}

.h34-w87-image {
    width: 87px;
    height: 34px;
    background-size: 87px 34px;
}

.h44-image {
    height: 44px;
    background-size: auto 44px;
}

.w-99px {
    width: 99px;
}
.w-87px {
    width: 87px;
}
.h-44px{
    height: 44px;
}
.w-150px {
    width: 150px;
}
.w-260px {
    width: 260px;
}
.w-266px {
    width: 266px;
}
.w-320px {
    width: 320px;
}
.btn-radius {
    border-radius: 22px;
}
.white-btn-cover {
    height: 30px;
    background: white center;
    margin: 2px;
}
.text-style-form{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 15px;
    text-transform: uppercase;
}
.text-style-400{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.text-style-700{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.text-style-700-12{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
.text-style-700-14{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.text-style-400-14{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.text-style-400-12{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.text-style-700-14-17{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.text-style-700-12-15{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
.text-style-700-19-23{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}
.text-style-700-14-24{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.text-style-pagination{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.text-transform{
    text-transform: uppercase;
}
.text-inside-btn {
    display: inline-block;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-color-white {
    color: white;
}
.text-color-primary {
    color: var(--primary);
}
.text-color-dark {
    color: var(--dark);
}
.text-color-dark5 {
    color: var(--dark5);
}
.text-color-dark25 {
    color: var(--dark25);
}
.text-color-dark50 {
    color: var(--dark50);
}
.text-color-dark75 {
    color: var(--dark75);
}
.margin-between-20 + .margin-between-20 {
    margin-left: 20px;
}
.margin-between-40 + .margin-between-40 {
    margin-left: 40px;
}
.margin-left{
    margin-left: -2px;
}
#section{
    height: 915px;
    background: url("../img/image 3.png") no-repeat;
    background-size: cover;
    width: 1440px;
}
#section--regist{
    height: 684px;
    background: url("../img/image4.png") no-repeat;
    background-size: cover;
    width: 1440px;
}
.margin-vertical-between-21 + .margin-vertical-between-21{
    margin-top: 21px;
}
.margin-top-17{
    margin-top: 17px;
}
.margin-top-23{
    margin-top: 23px;
}
.margin-top-31{
    margin-top: 31px;
}
.margin-top-30{
    margin-top: 61px;
}
label{
    height: 15px;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color:var(--dark);
    margin-bottom: 5px;
}
div.label-radio label {
    display:inline-block;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    color:var(--dark75);
    margin-bottom: 0;
    margin-right: 20px;
}
.tick-header{
    position: relative;
    display: inline-block;
    background: url("../iconcs/tik-grey.svg") center no-repeat;
    width: 20px;
    height: 13px;
    vertical-align: middle;
}
.tick-filter{
    position: relative;
    display: inline-block;
    background: url("../iconcs/tik-grey.svg") center no-repeat;
    width: 20px;
    height: 13px;
    vertical-align: middle;
    margin-left: 25px;
}
.tick::-webkit-calendar-picker-indicator  {
    position: relative;
    top:20px;
    left: 22px;
    opacity: 1;
    display: block;
    background: url("../iconcs/tik-grey.svg") no-repeat;
    width: 44px;
    height: 44px;
    border-width: thin;
    margin-left: -15px;
}
.select-tick {
    appearance: none;
    height: 50px;
    background-image: url("../iconcs/tik-grey.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
}
.arrow_forward {
    background-image: url("../iconcs/arrow_forward_white_24dp.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
}
.none-transform {
    text-transform: none;
}
.arrow_forward-pink {
    background-image: url("../iconcs/arrow_forward.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
}
.watermark{
    position: absolute;
    width: 297px;
    height: 48px;
    left: 1009px;
    top: 926px;
    text-align: right;
}
.nav-link{
    display: inline-block;
    line-height:17px;
    color:var(--dark75);
    margin:0 20px;
}
.header_nav{
    margin-left : 285px;
}
.nav-link--active{
    color:var(--dark);
    font-weight: 700;
}
.line-height-34 {
    line-height: 34px;
}
.line-height-44 {
    line-height: 44px;
}


/*===========================================================*/

.form-registr{
    position: absolute;
    width: 320px;
    height: 44px;
    left: calc(50% - 320px/2 + 3px);
}
.height-18 {
    height: 18px;
}
.height-24 {
    height: 24px;
}
.height-15 {
    height: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-42 {
    margin-top: 42px;
}
.margin-right-5{
    margin-right:4px;
}
.margin-left-30{
    margin-left:29px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-20{
    margin-right: 20px;
}
.relative-left-33 {
    position: relative;
    left: 33px;
}
.relative-left-57 {
    position: relative;
    left: 57px;
}
/*===========================================================*/

/*Переключатель*/


.switch {
    display: inline-block;
    position: relative;
    text-align: center
}
input[type="checkbox"]{
    width: 40px;
    height: 20px;
    outline: none;
    -webkit-appearance: none;
    background: white;
    transition: .5s;
    border: 1px solid var(--dark25);
    box-sizing: border-box;
    border-radius: 10px;
}
input:checked[type="checkbox"]{
    background:white;
}
input[type="checkbox"]:before{
    content:'';
    position: absolute;
    width: 12px;
    height: 12px;
    transform: scale(1.1);
    border-radius: 10px;
    top: 4px;
    left: 3px;
    background:var(--dark25);
    transition: .9s;
}
input:checked[type="checkbox"]:before{
    background: var(--primary-gradient);
    left:23px;
}
.label-radio input[type=radio] {
    display: none;
}
.label-radio input[type=radio] + .text-radio > .round {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/radio.png") no-repeat;
    background-size: 20px 20px;
    position: relative;
    top: 5px;
}
.label-radio input[type=radio]:checked + .text-radio > .round {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/selector-radio.png") center no-repeat;
    background-size: 20px 20px;
    position: relative;
    top: 5px;
}
label.switch > span {
    display: inline-block;
    position: relative;
    bottom: 5px;
}

/*HEADER*/

form.center{
    width: 380px;
    height: 374px;
    position:relative;
    top: 145px;
    left: 148px;
    padding: 40px 30px;
    background: white;
}
form.center-regist{
    width: 380px;
    height: 646px;
    position: relative;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 30px 30px 30px;
    background: white;
}
form.center-login{
    width: 380px;
    height: 358px;
    position: relative;
    top: 163px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 30px 30px 30px;
    background: white;
}
.form-border{
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.column {
    width: 150px;
    display: inline-block;
}
.column:not(:last-child) {
    margin-right: 15px;
}

/*Footer*/

.footer{
    padding: 104px 0 26px;
    width:1440px ;
}
.footer__content{
    display: flex;
    margin: 0 140px;
    font-size: 14px;
}
.footer__content > div{
    flex-grow:1;
    margin: 12px;
}
.footer__content > div:first-child + div:last-child{
    flex-grow: 2;
}
.footer .logo{
    margin-bottom: 34px;
}
.footer .logo img {
    margin-bottom: 20px;
}
.footer__info{
    color:var(--dark75);
    line-height: 24px;
    width: 260px;
    height: 72px;
}
.footer__title{
    padding-bottom: 20px;
}

.last__footer_div {
    max-width: 260px;
}
.row_wide_indent {
    line-height: 1.8;
    margin-top: -1.7px;
    margin-bottom: 20px;
}
.footer__menu a:not(:last-child){
    display: block;
    margin-bottom: 20px;
}
.footer a{
    white-space: nowrap;
    color:var(--dark50);
}

.footer__line{
    margin: 140px 0 26px;
    border:0;
    border-top:2px solid var(--dark5);
}
.footer__copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_copyright{
    margin: 0 140px;
}
.footer__social{
    display: flex;
    padding-right: 140px;
}
.footer__social-item{
    margin-right:20px;
}
.img-left-offset {
    position: relative;
    right: 30px;
    top: -2px;
}
