@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    /*Цвета*/
    --primary:#BC9CFF;
    --dark:#1F2041;
    --dark75:rgba(31, 32, 65, 0.75);
    --dark50:rgba(31, 32, 65, 0.5);
    --dark25:rgba(31, 32, 65, 0.25);
    --dark5:rgba(31, 32, 65, 0.05);
    --primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
/*Обнуление*/
* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
h1,
h2,
h3{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/*Шапка*/

.container{
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    background: #FFFFFF;
}
.header{
    padding: 18px 140px;
    max-width: 1440px;
}

.header__container{
    display:flex;
    align-items: center;
}
.header-logo{
    width:105.69px;
    height: 40px;
    display: inline-block;
}
.nav-link{
    display: inline-block;
    line-height:17px;
    color:var(--dark75);
    margin:0 20px;
}
.header_nav{
    margin-left: auto;
}
.nav-link--active{
    color:var(--dark);
    font-weight: 700;
}
.btn{
    background:var(--primary-gradient);
    color:#FFFFFF;
    display:inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    min-width: 196px;
    padding: 9px 20px;
    border:2px solid;
    border-color:var(--primary-gradient);
    border-radius: 22px;
}

.btn--ghost{
    background-color:transparent;
    color: var(--primary);
}
.header-login{
    margin-left: 20px;
}
.header-login .btn + .btn {
    margin-left: 20px;
}

/*HEADER2*/

section{
    height: 915px;
    background: url("../img/image 3.png") no-repeat;
    background-size: cover;
    position: relative;
    width: 1440px;
}
form.center{
    width: 380px;
    height: 374px;
    position:relative;
    top: 259px;
    left: 80px;
    transform: translateY(-50%);
    padding: 40px 30px;
    background: white;
}

form.center input, form.center select {
    height: 44px;
    background: #FFFFFF;
    /* Dark 25% */

    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.formWrapper{
    background: white;
    color:var(--dark);
    padding:30px;
}
h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color:var(--dark);
}
label{
    height: 15px;
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color:var(--dark);
}

.column {
    width: 150px;
    display: inline-block;
}

.row {
    margin: 25px 0;
}

.row + .btn {
    margin-top: 10px;
}

.btn--form {
    width: 320px;
    height: 44px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

}

.btn--form span {
    vertical-align: sub;
}

.btn--form span + img {
    float: right;
}


/*Footer*/

.footer{
    padding: 104px 0 26px;
    width:1440px ;
}

.footer__content{
    display: flex;
    margin: 0 140px;
    font-size: 14px;
}
.footer__content > div{
    flex-grow:1;
    margin: 12px;
}
.footer__content > div:first-child + div:last-child{
    flex-grow: 2;
}
.footer .logo{
    margin-bottom: 34px;
}

.footer .logo img {
    margin-bottom: 20px;
}

.footer__info{
    color:var(--dark75);
    line-height: 24px;
    width: 260px;
    height: 72px;
}
.footer__title{
    font-weight: 700;
    font-size: 12px;
    margin-bottom:21px;
    white-space: nowrap;
}

.last__footer_div {
    max-width: 260px;
}

.row_wide_indent {
    line-height: 1.8;
    margin-top: -1.7px;
}

.footer__menu a:not(:last-child){
    display: block;
    margin-bottom: 20px;
}
.footer a{
    white-space: nowrap;
    color:var(--dark50);
}

.footer__line{
    margin: 140px 0 26px;
    border:0;
    border-top:2px solid var(--dark5);
}
.footer__copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_copyright{
    color: var(--dark75);
    font-size: 14px;
    line-height: 17px;
    margin: 0 140px;
}
.footer__social{
    display: flex;
    padding-right: 140px;
}

.footer__social-item{
    margin-right:20px;
}
















